* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

h1 {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    justify-content: space-between;
}

h2 {
    font-size: 300%;
}

h3 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 200%;
}

.box {
    display: flex;
    width: fill;
    height: 100px;
    border: 5px solid black;
    padding: 12px;
    Margin-bottom:20px;
    margin: 20px;
}

section.div {
    display: flex;
    padding: 12px;
}

.footer {
    display: flex;
    width: fill;
    height: 200px;
    border: 5px solid black;
    padding: 12px;
    Margin-bottom:20px;
    margin: 20px;
    text-align: column;
}

.bottomText {
    display: flex;
    text-align: column;
}