* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: #3C99DC;
    justify-content: space-between;
    padding: 2%;
}

h1 {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    justify-content: space-between;
}

h2 {
    font-size: 300%;
}

h3 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 200%;
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.seperator {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bigGuy {
    display: flex;
    min-height: 180px;
    max-height: 800px;
}