* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: #3C99DC;
    justify-content: space-between;
    padding: 2%;
}

h1 {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    justify-content: space-between;
}

h2 {
    font-size: 300%;
}

h3 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 200%;
}

.seperator {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.list {
    display: flex;
    flex-direction: column;
    font-size: 100%;
    gap: 30px;
    position: relative;
    top: 100px;
}

.bigGuy {
    display: flex;
    min-height: 180px;
    max-height: 800px;
}

.mind {
    display: flex;
    font-size: 200%;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
}

textarea {
    width: 815px;
    height: 80px;
}

.blogMan {
    width: 815px;
}

.submit {
    width: 815px;
    padding: 20px;
    font-size: 100%;
    background-color: black;
    color: white
}

h4 {
    position: relative;
    top: 100px;
}